@model LabTask.DTO.LoginDTO
@{
    ViewBag.Title = "Login";
}

<style>
    body {
        background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    main {
        
        width: 100%;
        max-width: 400px;
        text-align: center;
        align-content: center;
        margin-left: 350px;
        margin-top: 50px;
    }

    .card {
       
        background-color: #fff;
        border: none;
        border-radius: 15px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .card-title {
        color: #007bff;
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    .form-control {
        background-color: #f8f9fa;
        border: none;
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 20px;
        width: 100%;
        font-size: 1em;
        color: #495057;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
        border-radius: 8px;
        padding: 15px;
        width: 100%;
        font-size: 1.2em;
        font-weight: bold;
        transition: background-color 0.3s;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    h6 a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

        h6 a:hover {
            text-decoration: underline;
        }

    .registration-link {
        color: #28a745;
        font-weight: bold;
        text-decoration: none;
    }

        .registration-link:hover {
            color: #218838;
        }
</style>

<main>
    <form action="" method="post">
        <div class="card">
            <div class="card-body p-5">
                <h2 class="card-title mb-4">Login</h2>

                <div class="mb-3">
                    <input type="text" name="UserName" placeholder="Name" class="form-control" />
                </div>
                <div class="mb-3">
                    <input type="password" name="Password" placeholder="Password" class="form-control" />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </div>

        <div class="mt-3">
            <h6 class="mb-3">Don't have an account? <a href="/Login/Registration" class="registration-link">Register here</a></h6>
        </div>
    </form>
</main>
