
@{
    ViewBag.Title = "addProduct";
}

<h2>Add Product</h2>
<form action="" method="post">
    <input type="text" name="Name" placeholder="Name" value=""><br /><br />
    <input type="text" name="Price" placeholder="Price" value=""><br /><br />
    <input type="text" name="Quantity" placeholder="Quantity" value="" /><br /><br />
    Catagory: <select name="C_Id">
        <option selected disabled>Catagory</option>
        @foreach (var d in ViewBag.Catagory)
        {
            <option value="@d.Id">@d.Name </option>
        }
    </select><br />
    <br />
    <input type="submit" class="btn btn-success" value="Add Product">

</form>



