
@{
    ViewBag.Title = "EditCatagory";
}

<h2>EditCatagory</h2>

<form action="" method="post">
    <input type="text" name="Name" placeholder="Name" value="@Model.Name"><br />
    <input type="hidden" name="Id" placeholder="Id" value="@Model.Id"><br />
    <input type="submit" value="Save">

</form>


